# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Secrets
.env
.env.*

# Python
__pycache__/
*.pyc
.venv/
*.log

# Node
node_modules/
dist/
build/

# Django
staticfiles/
media/

# Scripts
.artifacts/
