/* .root {
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 1.25rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

.root:focus-visible {
  border-color: rgba(255, 255, 255, 0.22);
} */
